QWidget QToolButton, QLineEdit
{
    margin: 2;
    padding: 2;
    border: 1 solid #7f8c8d;
}

QAbstractScrollArea
{
    border: 1 solid #7f8c8d;
}

QTabWidget::pane, QHeaderView
{
    border: 0;
}

QTabBar::tab
{
    padding: 6 10 6 10;
    margin-right: 6;
    border: 1px solid #7f8c8d;
    min-width: 10ex;
}

#bottomTabs QTabBar::tab
{
    border-top-color: transparent;
}

#bottomTabs QTabBar::tab::!selected
{
    margin-bottom: 3; /* make non-selected tabs look smaller */
}

#topTabs QTabBar::tab
{
    border-bottom-color: transparent;
}

#topTabs QTabBar::tab::!selected
{
    margin-top: 3; /* make non-selected tabs look smaller */
}
