QWidget QToolButton, QLineEdit
{
    margin: 2;
    padding: 2;
    border: 1 solid #7f8c8d;
}

QAbstractScrollArea
{
    border: 1 solid #7f8c8d;
}

QTabWidget::pane, QHeaderView
{
    border: 0;
}

QTabBar::tab
{
    margin-right: 6;
    border: 1px solid #7f8c8d;
    min-width: 10ex;
    padding: 6;
}

#bottomTabs QTabBar::tab
{
    border-top-color: transparent;
}

#bottomTabs QTabBar::tab::first
{
    margin-left: 0;
    border-bottom-left-radius: 8;
}

#bottomTabs QTabBar::tab::last
{
    border-bottom-right-radius: 8;
}

#bottomTabs QTabBar::tab::!selected
{
    margin-bottom: 3; /* make non-selected tabs look smaller */
}

#topTabs QTabBar::tab
{
    border-bottom-color: transparent;
}

#topTabs QTabBar::tab::first
{
    margin-left: 0;
    border-top-left-radius: 8;
}

#topTabs QTabBar::tab::last
{
    border-top-right-radius: 8;
}

#topTabs QTabBar::tab::!selected
{
    margin-top: 3; /* make non-selected tabs look smaller */
}

QTabBar::tab::selected
{
    font-weight: bold;
}
