[Desktop Entry]
Name=REDasm
Type=Application
Icon=logo
Exec=REDasm
Categories=Utility;
Comment=Crossplatform, interactive, multiarchitecture disassembler

